.header__title {
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 2.6rem;
  text-align: center;
  letter-spacing: 0.48rem;
  text-transform: uppercase; }
.header__sub {
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 2.6rem;
  text-align: center;
  letter-spacing: 0.68;
  text-transform: capitalize; }

.nav__wrapper h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.6rem;
  color: #fff;
  letter-spacing: 0.24rem;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer; }
.nav__wrapper a {
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #fff;
  line-height: 2.6rem;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

:root {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  margin: 1.4rem;
  color: #e8e8e8; }

.header__title {
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 2.6rem;
  text-align: center;
  letter-spacing: 0.48rem;
  text-transform: uppercase; }
.header__sub {
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 2.6rem;
  text-align: center;
  letter-spacing: 0.68;
  text-transform: capitalize; }

.nav__wrapper h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.6rem;
  color: #fff;
  letter-spacing: 0.24rem;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer; }
.nav__wrapper a {
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #fff;
  line-height: 2.6rem;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer; }

.header__title {
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 2.6rem;
  text-align: center;
  letter-spacing: 0.48rem;
  text-transform: uppercase; }
.header__sub {
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 2.6rem;
  text-align: center;
  letter-spacing: 0.68;
  text-transform: capitalize; }

.nav__wrapper h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.6rem;
  color: #fff;
  letter-spacing: 0.24rem;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer; }
.nav__wrapper a {
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #fff;
  line-height: 2.6rem;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer; }

.nav {
  width: 100%;
  height: 8rem;
  background-color: #5474fd;
  position: sticky; }

.navbar-nav {
  color: #fff; }
.navbar-brand {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.6rem;
  letter-spacing: 0.24rem;
  text-transform: uppercase;
  color: #fff; }
.navbar-toggler-icon {
  color: #fff; }

.header__title {
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 2.6rem;
  text-align: center;
  letter-spacing: 0.48rem;
  text-transform: uppercase; }
.header__sub {
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 2.6rem;
  text-align: center;
  letter-spacing: 0.68;
  text-transform: capitalize; }

.nav__wrapper h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.6rem;
  color: #fff;
  letter-spacing: 0.24rem;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer; }
.nav__wrapper a {
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #fff;
  line-height: 2.6rem;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer; }

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header__bg {
    width: 100%;
    height: 80rem;
    background: url("../img/hero-img.jpg") no-repeat center;
    background-size: cover; }
  .header__box {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }

.search {
  width: 90%;
  display: flex;
  align-items: center; }
  .search input {
    padding: 1rem;
    width: 60%;
    height: 5rem; }
    .search input ::placeholder {
      font-family: "Josefin Sans", sans-serif;
      font-weight: 400;
      font-size: 1.4rem;
      color: #999;
      line-height: 2.6rem;
      letter-spacing: 0.28rem; }
  .search__btn {
    float: left;
    width: 30%;
    height: 4.7rem;
    padding: 0.6rem;
    background: #5474fd;
    color: #fff;
    font-size: 1.4rem;
    border: 0.15rem solid #fff;
    border-left: none;
    cursor: pointer; }
    .search__btn ::after {
      content: "";
      clear: both;
      display: table; }

.choices {
  width: 100%; }
  .choices__img {
    width: 100%;
    height: 68.5rem;
    background: url("../img/choose-hero.jpg") no-repeat center;
    object-fit: cover; }

@media screen and (max-width: 468px) {
  body {
    margin: 1rem; }

  .header__box {
    width: 90%; }
  .header__title {
    font-size: 2.8rem; }

  .search input {
    font-size: 1rem; }
  .search p {
    display: none; } }

/*# sourceMappingURL=style.css.map */
