// Text
$header-white: #fff;
$paragraph-white: #e8e8e8;

// Styles
$button-blue: #5474fd;
$dark-blue: #496bfe;
$red: #ff6363;
$thumbs-up: #00a2ff;

// Backgrounds
$icon-bg: #333;
$footer-bg: #232323;
