@import "color";

.header {
  &__title {
    font-family: "Josefin Sans", sans-serif;
    color: $header-white;

    font-weight: 700;
    font-size: 4.8rem;
    line-height: 2.6rem;
    text-align: center;
    letter-spacing: 0.48rem;
    text-transform: uppercase;
  }
  &__sub {
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 2.6rem;
    text-align: center;
    letter-spacing: 0.68;
    text-transform: capitalize;
  }
}

.navbar {
  &-brand h3 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: $header-white;
    letter-spacing: 0.24rem;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
  }
}

.nav-link {
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: $header-white;
  line-height: 2.6rem;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.choices {
  &__title {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 3.6rem;
    line-height: 2.6rem;
    display: flex;
    align-items: center;
  }
  p {
    font-family: "Aleo", serif;
    color: $paragraph-white;
    font-weight: 400;
    letter-spacing: 0.16rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}

.selection {
  p {
    font-family: "Aleo", serif;
    color: $paragraph-white;
    font-weight: 400;
    font-size: 3.6rem;
    line-height: 2.6rem;
    text-align: center;
  }
}

.footer {
  &__box h3 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: $header-white;
    letter-spacing: 0.33rem;
    text-transform: uppercase;
  }
  &__box p {
    font-family: "Josefin Sans", sans-serif;
    color: $header-white;
    font-weight: 400;
    letter-spacing: 0.16rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
  &__links i {
    color: $paragraph-white;
    font-size: 1.6rem;
  }
}

.linkedin i {
  color: blue;
}
