// Abstracts
@import "color";
@import "font";
@import "reset";
@import "mixin";

// Components
@import "nav";
@import "footer";
@import "layout";

// Media queries
@media screen and (max-width: 468px) {
  body {
    margin: 1rem;
  }
  .header {
    &__box {
      width: 90%;
    }
    &__title {
      font-size: 2.8rem;
    }
  }
  .search {
    input {
      font-size: 1rem;
    }
    p {
      display: none;
    }
  }
}

@media screen and (max-width: 500px) {
  .madrid__box {
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
  }
}

@media screen and (max-width: 740px) {
  .selection {
    padding: 3em;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .box-search {
    margin: 2em;
  }
}

@media screen and (max-width: 827px) {
  .choices {
    &__images {
      display: flex;
      flex-wrap: wrap;
      margin-top: 3rem;
    }
    &__imgTwo {
      display: none;
    }
    &__text {
      width: 80%;
      height: 90%;
    }
  }
}

@media screen and (max-width: 1200px) {
  .choices {
    &__box {
      //   height: 60%;
    }
    &__images {
      display: flex;
      flex-wrap: wrap;
      margin-top: 3rem;
    }
    &__text {
      width: 80%;
      height: 90%;
    }
  }
}
