// Abstracts
@import "color";
@import "font";
@import "reset";
@import "mixin";

// Components
@import "nav";
@import "footer";
@import "layout";

// Media queries
@media screen and (max-width: 468px) {
  body {
    margin: 1rem;
  }
  .header {
    &__box {
      width: 90%;
    }
    &__title {
      font-size: 2.8rem;
    }
  }
  .search {
    input {
      font-size: 1rem;
    }
    p {
      display: none;
    }
  }
}

@media screen and (min-width: 900px) {
}
